/*
background-size: cover. Cubre toda el area que lo contiene.
background-repeat: no-repeat. Por defecto el background repeat viene en repeat.  
background-position: center (eje y) center (eje x)*/
.header{
    background-image: url(../../assets/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-texto{
    text-align: center;
    color: $blanco;
}